<footer>

  <div class="sponsors" id="sponsors">
    <h3>sponsors</h3>
    <%= image_tag "GA.png" %>
    <%= image_tag "dt.png"%>
    <%= image_tag "harry.png"%>
    <%= image_tag "KASUN.png"%>
    <%= image_tag "moet.png"%>



  </div>

  <div class="producers">
    <h3>event organisers</h3>
    <a href="https://github.com/brunorampi"><i class="fa fa-github" aria-hidden="true"></i> Bruno</a>
    <a href="https://github.com/eolhc"><i class="fa fa-github" aria-hidden="true"></i> Chloe</a>
    <a href="https://github.com/Deanb100"><i class="fa fa-github" aria-hidden="true"></i> Dean</a>
    <a href="https://github.com/ppteixeira"><i class="fa fa-github" aria-hidden="true"></i> Pedro</a>
  </div>

  <div class="copyright">
    <p>Copyright wdiCONF2k16</p>
  </div>

</footer>
