<!DOCTYPE html>
<html>
  <head>
    <title>WdiConf</title>
    <%= csrf_meta_tags %>
    <%= render 'layouts/links' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="banner">


    </header>

    <nav>


    </nav>

    <%= yield %>



    <footer>
      <div class="sponsors">


      </div>

      <div class="copyright">


      </div>

    </footer>

    <%= render 'pages/scripts' %>
  </body>
</html>
