<!DOCTYPE html>
<html>
<style>
  body {
    font-family: Sans-serif;
    color: #0069af;
  }
</style>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello <%= @attendee.first_name %>,</h3>
    <p>
      Your payment of $450.00 for wdiCONF2K16 has been successfully received.
<!-- 
      You are booked in for the following sessions:
      <li><%= @talk_title %> by <%= @speaker_name %> @ <%= @time %> in <%= @venue %></li> -->

      Thank you for your purchase and see you soon!
    </p>
    <p>
      Sincerely,
    </p>
    <h4>Team Platypus @ wdiCONF2k16</h4>
  </body>
</html>
